<!-- <section id="welcome"> -->
    <div id="welcome-txt">
        <h1 id="welcome-title">Welcome to,</h1>
        <h1 id="qayyim-title">قيم</h1>
        <p>Welcome to قيم</p>
        <button class="welcome-buttons" id="shop-btn" (click)="goShop()">Shop Now</button>
        <!-- <a href="#featured"><button class="welcome-buttons" id="explore-btn">Explore</button></a> -->
    </div>
    <!-- <div id="container">
        <img src="logo+shadow.png" id="welcome-logo" alt="El Qayyim Logo">
    </div>
</section> -->
