section {
    text-align: center;
    height: 100%;
    margin-bottom: 30vh;
}
h3 {
    margin: 3vh auto 2vh;
    width: 15vw;
    height: 10vh;
    font-size: 1.4rem;
}

img {
    height: 50%;
    margin: 5vh auto 0;
    z-index: 5;
    transition: transform 0.2s ease-out 0ms;
}

.price {
    font-size: 1.2rem;
}

#active-highlight {
    position: absolute;
    bottom: 0vh;
    height: 0vh;
    width: 100%;
    border-radius: 3vh;
    background-color: var(--tertiary-color);
    opacity: 7%;
    z-index: 1;
    transition: height 0.3s ease-in-out 0ms;
}

button {
    position: relative;
    top: -3vh;
    padding: 0vh 1vh;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-color-active);
    background-color: var(--tertiary-color);
    opacity: 0;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease-in-out 0ms;
    cursor: pointer;
}

section:hover img {
    transform: translate(0, -5vh);
}

section:hover #active-highlight {
    height: 40vh;
}

section:hover button {
    opacity: 100%;
    transform: translate(0, 5vh);
}
