<footer>
    <div id="footer-div">
        <div id="brand-footer">
            <img src="logo+shadow.png">
            <span>© Qayyim</span>
        </div>
        <div id="SM-footer">
            <a href="https://www.tiktok.com/@youssefghaly88?_t=8rZEVYRaVpY&_r=1" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://www.instagram.com/official_qayyim.eg?igsh=aXc0Nmh3MDJuNmY3" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
</footer>
