<section class="cart" [ngClass]="{'active-cart': activeCart}">
    <div id="title">
        <div>
            <i class="fa-solid fa-bag-shopping"></i>
            <h2>Cart</h2>
        </div>
        <i class="fa-solid fa-xmark" id="close-btn" (click)="showCart()"></i>
    </div>
    <div class="product" *ngFor="let product of productsDisplayed">
        <button (click)="removeItem(product)" id="close-prod-btn">
            <i class="fa-solid fa-xmark" id="close-prod"></i>
        </button>
        <img [src]="product.images" [alt]="product.title">
        <div>
            <p class="prod-brand">{{product.brand}}</p>
            <p class="prod-name">{{product.quantity}} X {{product.title}}</p>
            <p class="prod-price">{{product.price * product.quantity| currency}}</p>
        </div>
    </div>
    <div id="total-div">
        <p>SUB-TOTAL</p>
        <p>{{totalPrice | currency}}</p>
    </div>
    <button id="checkout-btn" (click)="goToCheckout()">Proceed to Checkout</button>
    <button id="continue-btn" (click)="continueShop()">Continue Shopping</button>
</section>
<div class="overlay" [ngClass]="{'active': activeCart}"></div>