<section>
    <div id="container">
        <div>
            <div class="icon-cont">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <span>43 Raymouth Rd. </span>
        </div>
        <div>
            <div class="icon-cont">
                <i class="fa-solid fa-envelope"></i>
            </div>
            <span>info&#64;yourdomain.com</span>
        </div>
        <div>
            <div class="icon-cont">
                <i class="fa-brands fa-whatsapp"></i>
            </div>
            <span>+1 294 3925 3939</span>
        </div>
    </div>
</section>